<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings configSource="config\appSettings.config" />
  <connectionStrings configSource="config\connectionStrings.config" />
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
    <customErrors mode="Off"></customErrors>
  </system.web>
</configuration>