@model HitCountWebApp.Models.HomeModel

<div class="container">
  <div class="row">
    <div class="col-md-1">
    	<span class="glyphicon glyphicon-signal"></span>
    	<h2>Hit count: @Model.HitCount.</h2>
    </div>
  </div>      
    <div class="row">
    <div class="col-md-1">
    	<small>This is Version 2</small>
    </div>
  </div>   
</div>