@page
@model IndexModel
@{
    ViewData["Title"] = "Nerd Dinner";
}

<div class="ui blue inverted vertical masthead center aligned segment">

    <div class="ui text container">

        <h1 class="ui inverted header">
            Nerd Dinner
        </h1>
        <h2>Organizing the world's nerds and helping them eat in packs.</h2>
        <a class="ui huge secondary button" href="@Model.NerdDinnerUrl">
            Find Dinner<i class="right arrow icon"></i>
        </a>
    </div>

</div>