<connectionStrings>  
  <add name="DefaultConnection" connectionString="Data Source=nerd-dinner-db;Initial Catalog=NerdDinner;User Id=sa;Password=N3rdD!Nne720^6;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  <add name="NerdDinnerContext" connectionString="Data Source=nerd-dinner-db;Initial Catalog=NerdDinner;User Id=sa;Password=N3rdD!Nne720^6;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
</connectionStrings>